body, html{/*damos un fondo negro*/
    background-color: black;
}
s
.navbar-nav .nav-link{ /*con esto cambiamos la tipografia*/
    font-family: sans-serif !important;
}

.navbar-nav .nav-link:hover {/*cuando pasemos el mouse por encima va a cambiar de color*/
    color: yellow !important;
}

